div.center {
    margin: auto auto;
}

div.center_text {
    text-align: center; 
}

textarea#msgText {
    min-width: 100%;
    max-width: 100%;
    min-height: 10em;
    max-height: 50vh;
    border-radius: 5px;
}

span.err_msg {
    font-size: smaller;
    color: red;
}