div#projects_main {
    margin: auto;
    text-align: center;
    width: 80%;
}

div.project {
    margin: auto;
    margin-top: 1em;
    text-align: left;
    padding: 1em;
    background-color: #594F3B;
    border-radius: 1em;
}

div.project:hover {
    background-color: #74674d;
}