html {
    background-color: #694F8E;
}

body {
    height: 90vh;
    color: #F6F2FF;
}

a {
    color: #E3F09B;
}

li.navitem a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    font-family: Verdana;
    font-size: 1.25em;
}


li.navitem a::after {
    background: #E3F09B;
}

div.content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana;
}

div.content div {
    text-align: center;
    margin: auto;
    padding: 50px;
    background-color: #222222;
    border-radius: 10px;
    border-width: 20px;
}

.half_width {
    width: 50%;
}

div.container_fluid div h1 {
    font-size: 4rem;
}

div.container_fluid div p {
    font-size: 25px;
}